.nav-container{
    display: flex;
    height:72px;
    align-items:center;
    background-color: rgb(5, 5, 49);
    margin: 0;
    justify-content: space-between;
    box-shadow: 0 1px 30px rgb(231, 231, 176);
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-right{
margin-right: 13px; 
}
.logo{
    margin-left: 12px;
    height: 40px;
}
.logo-text{
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    letter-spacing: 5px;
    margin: 0px 7px;
    color: rgb(238, 231, 183);
}
.mylogo{
    margin-right: 0px;
    height: 100px;
    
}